In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from d01_data_processing.data_cleaning import *
from d01_data_processing.spotify_user import SpotifyUser
from d00_utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  /Users/marthaaboagye/Desktop/Project/src

## Example of pulling Spotify API data using Spotipy

In [ ]:
# spotify = spotipy.Spotify()
new_username = 'martaaa'
new_user = SpotifyUser(spotify_creds['spotify_client_id'], 
                       spotify_creds['spotify_client_secret'], 
                       'http://localhost:8889', 
                       new_username)

            User authentication requires interaction with your
            web browser. Once you enter your credentials and
            give authorization, you will be redirected to
            a url.  Paste that url you were directed to to
            complete the authorization.


Opened https://accounts.spotify.com/authorize?client_id=46a21c22c2b84831a61e13aabc27dc30&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8889&scope=user-follow-read+user-library-read+user-read-recently-played+user-top-read in your browser

## Example of cleaning spotify data 
The functions below should ALL be run in order to fill/update the schema correctly.

## New Listener

In [4]:
clean_listener_info(new_user)

,display_name,listener_id,num_followers,listener_image_url
0,Caroline Wang,314xcqarki42gnkosjtfplluumya,2,https://platform-lookaside.fbsbx.com/platform/...

## CREATED BY,  Artists to Add (from Top Tracks)

In [4]:
top_track_created_by, top_track_artists_to_add = clean_top_tracks_artist_info(new_user)

display(top_track_artists_to_add.head())
display(top_track_created_by.head())

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,17hR0sYHpx7VYTMRfFUOmY,Maurice Ravel,63,265519,https://i.scdn.co/image/0d8f2b3e9ab748e7767fd3...
1,6Sqhwn4JweupJ3sn9zHNsq,Amandine Savary,23,136,https://i.scdn.co/image/ab67616d0000b273d2264b...
2,3qprTw1SHzbubNcJPqFaFS,Vineta Sareika,19,88,https://i.scdn.co/image/372c277b462ac21e29d4d6...
3,5nRDtK82lHmYRXnKjAzI9j,Christian-Pierre La Marca,38,1327,https://i.scdn.co/image/b12c0dcbc74d552418f275...
4,6UE7nl9mha6s8z0wFQFIZ2,Robyn,70,620151,https://i.scdn.co/image/ef9263000b485e9c0c44d4...

                artist_id                track_id
0  17hR0sYHpx7VYTMRfFUOmY  0xH4hjpQfNInY3lqC3Osc1
1  6Sqhwn4JweupJ3sn9zHNsq  0xH4hjpQfNInY3lqC3Osc1
2  3qprTw1SHzbubNcJPqFaFS  0xH4hjpQfNInY3lqC3Osc1
3  5nRDtK82lHmYRXnKjAzI9j  0xH4hjpQfNInY3lqC3Osc1
4  6UE7nl9mha6s8z0wFQFIZ2  1RI3rY6Y5Shrr2pFCO1xmu

## Top Tracks table, AlbumContainsTrack table

In [5]:
top_tracks, top_tracks_to_add, album_contains_track, top_tracks_albums_to_add = clean_top_tracks_album_info(new_user)

In [6]:
display(top_tracks.head())
display(top_tracks_to_add.head())
display(album_contains_track.head())
display(top_tracks_albums_to_add.head())

                 track_id   time_span                   listener_id
0  0xH4hjpQfNInY3lqC3Osc1  short_term  314xcqarki42gnkosjtfplluumya
1  1RI3rY6Y5Shrr2pFCO1xmu  short_term  314xcqarki42gnkosjtfplluumya
2  2Fxmhks0bxGSBdJ92vM42m  short_term  314xcqarki42gnkosjtfplluumya
3  39nTNk5MfyiiRupTwn1iyC  short_term  314xcqarki42gnkosjtfplluumya
4  7BlBVFwvbWvcwNcUarQmjk  short_term  314xcqarki42gnkosjtfplluumya

,track_id,track_name,track_pop,preview_url,time_span
0,0xH4hjpQfNInY3lqC3Osc1,Trio pour piano violon & violoncelle: II. Pant...,10,https://p.scdn.co/mp3-preview/c822c5e60fdc9cf4...,short_term
1,1RI3rY6Y5Shrr2pFCO1xmu,Beach2k20 - Yaeji Remix,36,https://p.scdn.co/mp3-preview/08be7225f817da6f...,short_term
2,2Fxmhks0bxGSBdJ92vM42m,bad guy,94,https://p.scdn.co/mp3-preview/11fadb5f777b56f8...,short_term
3,39nTNk5MfyiiRupTwn1iyC,Take It Out On Me,77,https://p.scdn.co/mp3-preview/3acbfa9184485bd6...,short_term
4,7BlBVFwvbWvcwNcUarQmjk,Yo x Ti Tu x Mi,85,https://p.scdn.co/mp3-preview/f8d270e551ebd663...,short_term

                 album_id                track_id
0  3FhRqpxS0Rlx0f4RtZMaBh  0xH4hjpQfNInY3lqC3Osc1
1  5mHUgXZKe4szVeCMBz9MNu  1RI3rY6Y5Shrr2pFCO1xmu
2  0S0KGZnfBGSIssfF54WSJh  2Fxmhks0bxGSBdJ92vM42m
3  63iWSELt9V1kV6RSMxN7Ii  39nTNk5MfyiiRupTwn1iyC
4  3844bY26oeSkqd06th4EYp  7BlBVFwvbWvcwNcUarQmjk

,album_type,album_id,album_name,album_image_url
0,ALBUM,3FhRqpxS0Rlx0f4RtZMaBh,Ravel: Trio Sonate pour violon et violoncelle ...,https://i.scdn.co/image/ab67616d0000b27309302d...
1,SINGLE,5mHUgXZKe4szVeCMBz9MNu,Beach2k20 (Yaeji Remix),https://i.scdn.co/image/463c60c9a26d6a1a6c854b...
2,ALBUM,0S0KGZnfBGSIssfF54WSJh,WHEN WE ALL FALL ASLEEP WHERE DO WE GO?,https://i.scdn.co/image/cd89c09ece48d687d4b6a8...
3,ALBUM,63iWSELt9V1kV6RSMxN7Ii,Changes,https://i.scdn.co/image/ab67616d0000b2737fe4a8...
4,SINGLE,3844bY26oeSkqd06th4EYp,Yo x Ti Tu x Mi,https://i.scdn.co/image/ab67616d0000b273694844...

## Albums to Add table

## Top artists table, artists to add table

In [9]:
top_artists, top_artists_to_add = clean_top_artists_info(new_user)

display(top_artists.head())
display(top_artists_to_add.head())

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\data_processing\data_cleaning.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_artists['listener_id'] = listener_info['id'][0]
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\data_processing\data_cleaning.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_artists['time_span'] = time_range

                artist_id                   listener_id   time_span
0  2RqrWplViWHSGLzlhmDcbt  314xcqarki42gnkosjtfplluumya  short_term
1  1uNFoZAHBGtllmzznpCI3s  314xcqarki42gnkosjtfplluumya  short_term
2  6Sqhwn4JweupJ3sn9zHNsq  314xcqarki42gnkosjtfplluumya  short_term
3  7ltDVBr6mKbRvohxheJ9h1  314xcqarki42gnkosjtfplluumya  short_term
4  0BOKp33vfgc7PUaNem18gT  314xcqarki42gnkosjtfplluumya  short_term

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,2RqrWplViWHSGLzlhmDcbt,Yaeji,60,195857,https://i.scdn.co/image/5303e1676e4a4e9110c7f4...
1,1uNFoZAHBGtllmzznpCI3s,Justin Bieber,99,33174550,https://i.scdn.co/image/d745628f6659a715f0f69e...
2,6Sqhwn4JweupJ3sn9zHNsq,Amandine Savary,23,136,https://i.scdn.co/image/ab67616d0000b273d2264b...
3,7ltDVBr6mKbRvohxheJ9h1,ROSALÍA,86,2733333,https://i.scdn.co/image/b25d176a49dfda9d754d87...
4,0BOKp33vfgc7PUaNem18gT,Ralph Kirshbaum,47,22944,https://i.scdn.co/image/6a138dc9740f9cdd973826...