In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from d01_data_processing.data_cleaning import *
from d01_data_processing.spotify_user import SpotifyUser
from d00_utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src

## Example of pulling Spotify API data using Spotipy

In [2]:
# spotify = spotipy.Spotify()
new_username = 'CarolineWang'
new_user = SpotifyUser(username=new_username,
                       from_scratch=True,
                       spotipy_client_id=spotify_creds['spotify_client_id'], 
                       spotipy_client_secret=spotify_creds['spotify_client_secret'], 
                       spotipy_redirect_uri='http://localhost:8889')

## Example of cleaning spotify data 
The functions below should ALL be run in order to fill/update the schema correctly.

## New Listener

In [3]:
display(new_user.info())
print(len(new_user.info()['images']))

res=clean_listener_info(new_user)

display(res['user_info'])

{'display_name': 'Caroline Wang',
 'external_urls': {'spotify': 'https://open.spotify.com/user/314xcqarki42gnkosjtfplluumya'},
 'followers': {'href': None, 'total': 2},
 'href': 'https://api.spotify.com/v1/users/314xcqarki42gnkosjtfplluumya',
 'id': '314xcqarki42gnkosjtfplluumya',
 'images': [{'height': None,
   'url': 'https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=437581406376376&height=300&width=300&ext=1588368641&hash=AeR5_rBJeNlGcyBI',
   'width': None}],
 'type': 'user',
 'uri': 'spotify:user:314xcqarki42gnkosjtfplluumya'}

1

,display_name,listener_id,num_followers,listener_image_url,username
0,Caroline Wang,314xcqarki42gnkosjtfplluumya,2,https://platform-lookaside.fbsbx.com/platform/...,CarolineWang

## CREATED BY,  Artists to Add (from Top Tracks)

In [12]:
res = clean_top_tracks_artist_info(new_user, time_range='medium_term')
# print(res['genres_to_add'])

for df_name, df in res.items():
    print(df_name)
    display(df.head())

top_track_created_by

C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                artist_id                track_id
0  5wTAi7QkpP6kp8a54lmTOq  6YoUBL0HhQV99zaD58exsS
1  6ttz1LgWFVgRiNDOjtDb2L  6YoUBL0HhQV99zaD58exsS
2  4iHNK0tOyZPYnBU7nGAgpQ  0bYg9bo50gSsH3LtXe2SQn
3  0Kekt6CKSo0m5mivKcoH51  0h8iVXlMcJrVHp5rEiGl04
4  5pAFKhoqlYPpCSiTOjh9Bz  0h8iVXlMcJrVHp5rEiGl04

top_track_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,5wTAi7QkpP6kp8a54lmTOq,Johannes Brahms,64,540934,https://i.scdn.co/image/d5c6af18beb1411ab49c29...
1,6ttz1LgWFVgRiNDOjtDb2L,Renaud Capu√ßon,49,6797,https://i.scdn.co/image/c232400cd879118c136ab3...
2,4iHNK0tOyZPYnBU7nGAgpQ,Mariah Carey,78,5468013,https://i.scdn.co/image/0c68c052a574cffff7a6a0...
3,0Kekt6CKSo0m5mivKcoH51,Sergei Rachmaninoff,63,329102,https://i.scdn.co/image/463e3c5c3e814761532f55...
4,5pAFKhoqlYPpCSiTOjh9Bz,Beaux Arts Trio,38,8474,https://i.scdn.co/image/9014d64a9f37d238cdba99...

genres_to_add

              genres
0          classical
1  late romantic era
2             violin
3          dance pop
4                pop

top_track_artists_genres

              genres               artist_id
0          classical  5wTAi7QkpP6kp8a54lmTOq
1  late romantic era  5wTAi7QkpP6kp8a54lmTOq
2             violin  6ttz1LgWFVgRiNDOjtDb2L
3          dance pop  4iHNK0tOyZPYnBU7nGAgpQ
4                pop  4iHNK0tOyZPYnBU7nGAgpQ

# Top artists to add, genres to add (from artists)

In [13]:
res = clean_top_artists_info(new_user, time_range='medium_term')

for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_artists

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['listener_id'] = listener_info['id'][0]
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['time_span'] = time_range
C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                artist_id                   listener_id    time_span
0  56oDRnqbIiwx4mymNEv7dS  314xcqarki42gnkosjtfplluumya  medium_term
1  06HL4z0CvFAxyc27GXpf02  314xcqarki42gnkosjtfplluumya  medium_term
2  2RqrWplViWHSGLzlhmDcbt  314xcqarki42gnkosjtfplluumya  medium_term
3  1hRLlo7ZGxEmc0ztMOKurs  314xcqarki42gnkosjtfplluumya  medium_term
4  1uNFoZAHBGtllmzznpCI3s  314xcqarki42gnkosjtfplluumya  medium_term

top_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,56oDRnqbIiwx4mymNEv7dS,Lizzo,82,2410445,https://i.scdn.co/image/e33e4245fe5901ed940ba9...
1,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27964509,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
2,2RqrWplViWHSGLzlhmDcbt,Yaeji,59,206604,https://i.scdn.co/image/3ae43b32e247aa666b2997...
3,1hRLlo7ZGxEmc0ztMOKurs,Maria Jo√£o Pires,52,32614,https://i.scdn.co/image/2552c692af80afff8cb673...
4,1uNFoZAHBGtllmzznpCI3s,Justin Bieber,95,33948434,https://i.scdn.co/image/d745628f6659a715f0f69e...

genres_to_add

              genres
0        escape room
1  minnesota hip hop
2                pop
3            pop rap
4         trap queen

top_artists_genres

                artist_id             genres
0  56oDRnqbIiwx4mymNEv7dS        escape room
1  56oDRnqbIiwx4mymNEv7dS  minnesota hip hop
2  56oDRnqbIiwx4mymNEv7dS                pop
3  56oDRnqbIiwx4mymNEv7dS            pop rap
4  56oDRnqbIiwx4mymNEv7dS         trap queen

## Top Tracks table, AlbumContainsTrack table

In [15]:
res = clean_top_tracks_album_info(new_user, time_range='medium_term')
for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_tracks

                 track_id    time_span                   listener_id
0  6YoUBL0HhQV99zaD58exsS  medium_term  314xcqarki42gnkosjtfplluumya
1  0bYg9bo50gSsH3LtXe2SQn  medium_term  314xcqarki42gnkosjtfplluumya
2  0h8iVXlMcJrVHp5rEiGl04  medium_term  314xcqarki42gnkosjtfplluumya
3  0xH4hjpQfNInY3lqC3Osc1  medium_term  314xcqarki42gnkosjtfplluumya
4  1RI3rY6Y5Shrr2pFCO1xmu  medium_term  314xcqarki42gnkosjtfplluumya

top_tracks_to_add

,track_id,track_name,track_pop,preview_url,danceability,energy,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,6YoUBL0HhQV99zaD58exsS,Brahms: Piano Trio No. 1 in B Major Op. 8: I. ...,14,https://p.scdn.co/mp3-preview/aee7d370517f0ed3...,0.206,0.0894,-21.519,1,0.0436,0.9810,0.747,0.0746,0.0638,87.406,3
1,0bYg9bo50gSsH3LtXe2SQn,All I Want for Christmas Is You,70,https://p.scdn.co/mp3-preview/ab4f06069148ef85...,0.335,0.6250,-7.462,1,0.0386,0.1640,0.000,0.0708,0.3460,150.277,4
2,0h8iVXlMcJrVHp5rEiGl04,Trio El√©giaque No.1 in G Minor for Piano Violi...,11,https://p.scdn.co/mp3-preview/06c92af895ea1248...,0.154,0.0564,-23.584,0,0.0401,0.9760,0.634,0.1400,0.0644,75.611,5
3,0xH4hjpQfNInY3lqC3Osc1,Trio pour piano violon & violoncelle: II. Pant...,10,https://p.scdn.co/mp3-preview/c822c5e60fdc9cf4...,0.438,0.1600,-20.865,1,0.0373,0.9850,0.749,0.0900,0.2380,100.009,4
4,1RI3rY6Y5Shrr2pFCO1xmu,Beach2k20 - Yaeji Remix,37,https://p.scdn.co/mp3-preview/08be7225f817da6f...,0.846,0.5570,-8.222,0,0.0701,0.0232,0.007,0.2880,0.6790,120.969,4

album_contains_track

                 album_id                track_id
0  0VRwX2qpaVSMWoXEvLEnrh  6YoUBL0HhQV99zaD58exsS
1  61ulfFSmmxMhc2wCdmdMkN  0bYg9bo50gSsH3LtXe2SQn
2  2UWAcaDDrkpMAepxdfX1wP  0h8iVXlMcJrVHp5rEiGl04
3  3FhRqpxS0Rlx0f4RtZMaBh  0xH4hjpQfNInY3lqC3Osc1
4  5mHUgXZKe4szVeCMBz9MNu  1RI3rY6Y5Shrr2pFCO1xmu

top_tracks_albums_to_add

,album_type,album_id,album_name,album_release_date,album_image_url
0,ALBUM,0VRwX2qpaVSMWoXEvLEnrh,Brahms: Piano Trios,2004-04-05,https://i.scdn.co/image/ab67616d0000b273eb9f7d...
1,ALBUM,61ulfFSmmxMhc2wCdmdMkN,Merry Christmas,1994-11-01,https://i.scdn.co/image/ab67616d0000b2734246e3...
2,ALBUM,2UWAcaDDrkpMAepxdfX1wP,Rachmaninov: Piano Trios Nos.1 & 2,1987-01-01,https://i.scdn.co/image/ab67616d0000b273b90d6e...
3,ALBUM,3FhRqpxS0Rlx0f4RtZMaBh,Ravel: Trio Sonate pour violon et violoncelle ...,2009-01-22,https://i.scdn.co/image/ab67616d0000b27309302d...
4,SINGLE,5mHUgXZKe4szVeCMBz9MNu,Beach2k20 (Yaeji Remix),2019-09-04,https://i.scdn.co/image/ab67616d0000b2734e074b...

genres_to_add

Empty DataFrame
Columns: [genres]
Index: []

top_track_album_genres

Empty DataFrame
Columns: [genres, album_id]
Index: []

In [3]:
all_data = clean_all_data(new_user)

C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['listener_id'] = listener_info['id'][0]
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['time_span'] = time_range