In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from data_processing.data_cleaning import *
from data_processing.spotify_user import SpotifyUser
from utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src

In this notebook we will create functions to pull data from the VM database and process the data into features

## Query Data From VM Database Using Python

1. Need a SQL query that returns the top tracks for a FIXED listener_id, time_span
For these top tracks, need a SQL query that returns the genre of each track (associated with the album of the track), the release date of each track (associated with the album of the track), popularity of each track, audio features of each track (i.e., energy level, danceability, speechiness, instrumentalness, valence)

Get toptracks info from tracks table. Still need to get toptracks genre from the AlbumHasGenre table. 
```
 select * 
 from tracks as t1
 where t1.track_id in (
             select t2.track_id 
             from toptracks as t2 
             where listener_id='314xcqarki42gnkosjtfplluumyb'and time_span='short_term')
```


2. Need a SQL query that returns the top artists for a FIXED listener_id, time_span
For these top artists, need a SQL query that returns the genres of each artist, the popularity of each artist, number followers of each artist

Get topartists info from tracks table. Still need to get topartists genre info from the ArtistHasGenre table 
```
select a1.artist_id, a1.artist_pop, a1.num_followers 
from artists as a1 
where a1.artist_id in 
    (select a2.artist_id 
     from topartists as a2
     where listener_id='314xcqarki42gnkosjtfplluumyb' and time_span='short_term'
    )
```

## Queried Data Into Features

#### Import Sample User Info

In [ ]:
new_username = 'CarolineWang'
new_user = SpotifyUser(spotify_creds['spotify_client_id'], 
                       spotify_creds['spotify_client_secret'], 
                       'http://localhost:8889', 
                       new_username)

            User authentication requires interaction with your
            web browser. Once you enter your credentials and
            give authorization, you will be redirected to
            a url.  Paste that url you were directed to to
            complete the authorization.


Opened https://accounts.spotify.com/authorize?client_id=46a21c22c2b84831a61e13aabc27dc30&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8889&scope=user-follow-read+user-library-read+user-read-recently-played+user-top-read in your browser

In [ ]:
user_info = clean_listener_info(new_user)
top_track_created_by, top_track_artists_to_add = clean_top_tracks_artist_info(new_user)
top_artists, top_artists_to_add = clean_top_artists_info(new_user)

In [7]:
display(user_info)
display(top_track_created_by.head())
display(top_track_artists_to_add.head())
display(top_artists)
display(top_artists_to_add.head())

,display_name,listener_id,num_followers,listener_image_url
0,Caroline Wang,314xcqarki42gnkosjtfplluumya,2,https://platform-lookaside.fbsbx.com/platform/...

                artist_id                track_id
0  06HL4z0CvFAxyc27GXpf02  3RauEVgRgj1IuWdJ9fDs70
1  06HL4z0CvFAxyc27GXpf02  1p80LdxRV74UKvL8gnD7ky
2  06HL4z0CvFAxyc27GXpf02  2slqvGLwzZZYsT4K4Y1GBC
3  06HL4z0CvFAxyc27GXpf02  3i9UVldZOE0aD0JnyfAZZ0
4  7n2wHs1TKAczGzO7Dd2rGr  3i9UVldZOE0aD0JnyfAZZ0

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27722243,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
1,7n2wHs1TKAczGzO7Dd2rGr,Shawn Mendes,88,25074577,https://i.scdn.co/image/6bd59cfbd3e1e6394af710...
2,2wUjUUtkb5lvLKcGKsKqsR,Alessia Cara,81,6902897,https://i.scdn.co/image/56dcc0e8f919ea86b139b4...
3,6UleRY4Q1BRd2gRmPjFCQF,Deborah's Child,32,795,https://i.scdn.co/image/5124284457161f8cfc2bc7...
4,5nQybVOGIy5TZ1XK9CaDiS,Sarah Close,47,62126,https://i.scdn.co/image/e33b5760d8df64f5016e9c...

                artist_id                   listener_id   time_span
0  06HL4z0CvFAxyc27GXpf02  314xcqarki42gnkosjtfplluumya  short_term

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27722243,https://i.scdn.co/image/62b33d12e2b9a033cf7758...