In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from d01_data_processing.data_cleaning import *
from d01_data_processing.spotify_user import SpotifyUser
from d00_utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src

## Example of pulling Spotify API data using Spotipy

In [2]:
# spotify = spotipy.Spotify()
new_username = 'CarolineWang'
new_user = SpotifyUser(username=new_username,
                       from_scratch=True,
                       spotipy_client_id=spotify_creds['spotify_client_id'], 
                       spotipy_client_secret=spotify_creds['spotify_client_secret'], 
                       spotipy_redirect_uri='http://localhost:8889')

## Example of cleaning spotify data 
The functions below should ALL be run in order to fill/update the schema correctly.

## New Listener

In [3]:
display(new_user.info())
print(len(new_user.info()['images']))

res=clean_listener_info(new_user)

display(res['user_info'])

{'display_name': 'Caroline Wang',
 'external_urls': {'spotify': 'https://open.spotify.com/user/314xcqarki42gnkosjtfplluumya'},
 'followers': {'href': None, 'total': 2},
 'href': 'https://api.spotify.com/v1/users/314xcqarki42gnkosjtfplluumya',
 'id': '314xcqarki42gnkosjtfplluumya',
 'images': [{'height': None,
   'url': 'https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=437581406376376&height=300&width=300&ext=1588434097&hash=AeR2F-3OJZghztSg',
   'width': None}],
 'type': 'user',
 'uri': 'spotify:user:314xcqarki42gnkosjtfplluumya'}

1

,display_name,listener_id,num_followers,listener_image_url,username
0,Caroline Wang,314xcqarki42gnkosjtfplluumya,2,https://platform-lookaside.fbsbx.com/platform/...,CarolineWang

## CREATED BY,  Artists to Add (from Top Tracks)

In [4]:
res = clean_top_tracks_artist_info(new_user, time_range='medium_term')
# print(res['genres_to_add'])

for df_name, df in res.items():
    print(df_name)
    display(df.head())

top_track_created_by

C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                 track_id               artist_id
0  6YoUBL0HhQV99zaD58exsS  5wTAi7QkpP6kp8a54lmTOq
1  6YoUBL0HhQV99zaD58exsS  6ttz1LgWFVgRiNDOjtDb2L
2  0bYg9bo50gSsH3LtXe2SQn  4iHNK0tOyZPYnBU7nGAgpQ
3  0h8iVXlMcJrVHp5rEiGl04  0Kekt6CKSo0m5mivKcoH51
4  0h8iVXlMcJrVHp5rEiGl04  5pAFKhoqlYPpCSiTOjh9Bz

top_track_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,5wTAi7QkpP6kp8a54lmTOq,Johannes Brahms,64,540934,https://i.scdn.co/image/d5c6af18beb1411ab49c29...
1,6ttz1LgWFVgRiNDOjtDb2L,Renaud Capu√ßon,49,6797,https://i.scdn.co/image/c232400cd879118c136ab3...
2,4iHNK0tOyZPYnBU7nGAgpQ,Mariah Carey,78,5468013,https://i.scdn.co/image/0c68c052a574cffff7a6a0...
3,0Kekt6CKSo0m5mivKcoH51,Sergei Rachmaninoff,63,329102,https://i.scdn.co/image/463e3c5c3e814761532f55...
4,5pAFKhoqlYPpCSiTOjh9Bz,Beaux Arts Trio,38,8474,https://i.scdn.co/image/9014d64a9f37d238cdba99...

top_track_genres_to_add

          genre_name
0          classical
1  late romantic era
2             violin
3          dance pop
4                pop

top_track_artists_genres

                artist_id         genre_name
0  5wTAi7QkpP6kp8a54lmTOq          classical
1  5wTAi7QkpP6kp8a54lmTOq  late romantic era
2  6ttz1LgWFVgRiNDOjtDb2L             violin
3  4iHNK0tOyZPYnBU7nGAgpQ          dance pop
4  4iHNK0tOyZPYnBU7nGAgpQ                pop

# Top artists to add, genres to add (from artists)

In [6]:
res = clean_top_artists_info(new_user, time_range='medium_term')

for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_artists

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['listener_id'] = listener_info['id'][0]
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['time_span'] = time_range
C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                    listener_id               artist_id    time_span
0  314xcqarki42gnkosjtfplluumya  56oDRnqbIiwx4mymNEv7dS  medium_term
1  314xcqarki42gnkosjtfplluumya  06HL4z0CvFAxyc27GXpf02  medium_term
2  314xcqarki42gnkosjtfplluumya  2RqrWplViWHSGLzlhmDcbt  medium_term
3  314xcqarki42gnkosjtfplluumya  1hRLlo7ZGxEmc0ztMOKurs  medium_term
4  314xcqarki42gnkosjtfplluumya  1uNFoZAHBGtllmzznpCI3s  medium_term

top_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,56oDRnqbIiwx4mymNEv7dS,Lizzo,82,2410445,https://i.scdn.co/image/e33e4245fe5901ed940ba9...
1,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27964509,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
2,2RqrWplViWHSGLzlhmDcbt,Yaeji,59,206604,https://i.scdn.co/image/3ae43b32e247aa666b2997...
3,1hRLlo7ZGxEmc0ztMOKurs,Maria Jo√£o Pires,52,32614,https://i.scdn.co/image/2552c692af80afff8cb673...
4,1uNFoZAHBGtllmzznpCI3s,Justin Bieber,95,33948434,https://i.scdn.co/image/d745628f6659a715f0f69e...

top_artists_genres_to_add

          genre_name
0        escape room
1  minnesota hip hop
2                pop
3            pop rap
4         trap queen

top_artists_genres

                artist_id         genre_name
0  56oDRnqbIiwx4mymNEv7dS        escape room
1  56oDRnqbIiwx4mymNEv7dS  minnesota hip hop
2  56oDRnqbIiwx4mymNEv7dS                pop
3  56oDRnqbIiwx4mymNEv7dS            pop rap
4  56oDRnqbIiwx4mymNEv7dS         trap queen

## Top Tracks table, AlbumContainsTrack table

In [15]:
res = clean_top_tracks_album_info(new_user, time_range='medium_term')
for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_tracks

                 track_id    time_span                   listener_id
0  6YoUBL0HhQV99zaD58exsS  medium_term  314xcqarki42gnkosjtfplluumya
1  0bYg9bo50gSsH3LtXe2SQn  medium_term  314xcqarki42gnkosjtfplluumya
2  0h8iVXlMcJrVHp5rEiGl04  medium_term  314xcqarki42gnkosjtfplluumya
3  0xH4hjpQfNInY3lqC3Osc1  medium_term  314xcqarki42gnkosjtfplluumya
4  1RI3rY6Y5Shrr2pFCO1xmu  medium_term  314xcqarki42gnkosjtfplluumya

top_tracks_to_add

,track_id,track_name,track_pop,preview_url,danceability,energy,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,6YoUBL0HhQV99zaD58exsS,Brahms: Piano Trio No. 1 in B Major Op. 8: I. ...,14,https://p.scdn.co/mp3-preview/aee7d370517f0ed3...,0.206,0.0894,-21.519,1,0.0436,0.9810,0.747,0.0746,0.0638,87.406,3
1,0bYg9bo50gSsH3LtXe2SQn,All I Want for Christmas Is You,70,https://p.scdn.co/mp3-preview/ab4f06069148ef85...,0.335,0.6250,-7.462,1,0.0386,0.1640,0.000,0.0708,0.3460,150.277,4
2,0h8iVXlMcJrVHp5rEiGl04,Trio El√©giaque No.1 in G Minor for Piano Violi...,11,https://p.scdn.co/mp3-preview/06c92af895ea1248...,0.154,0.0564,-23.584,0,0.0401,0.9760,0.634,0.1400,0.0644,75.611,5
3,0xH4hjpQfNInY3lqC3Osc1,Trio pour piano violon & violoncelle: II. Pant...,10,https://p.scdn.co/mp3-preview/c822c5e60fdc9cf4...,0.438,0.1600,-20.865,1,0.0373,0.9850,0.749,0.0900,0.2380,100.009,4
4,1RI3rY6Y5Shrr2pFCO1xmu,Beach2k20 - Yaeji Remix,37,https://p.scdn.co/mp3-preview/08be7225f817da6f...,0.846,0.5570,-8.222,0,0.0701,0.0232,0.007,0.2880,0.6790,120.969,4

album_contains_track

                 album_id                track_id
0  0VRwX2qpaVSMWoXEvLEnrh  6YoUBL0HhQV99zaD58exsS
1  61ulfFSmmxMhc2wCdmdMkN  0bYg9bo50gSsH3LtXe2SQn
2  2UWAcaDDrkpMAepxdfX1wP  0h8iVXlMcJrVHp5rEiGl04
3  3FhRqpxS0Rlx0f4RtZMaBh  0xH4hjpQfNInY3lqC3Osc1
4  5mHUgXZKe4szVeCMBz9MNu  1RI3rY6Y5Shrr2pFCO1xmu

top_tracks_albums_to_add

,album_type,album_id,album_name,album_release_date,album_image_url
0,ALBUM,0VRwX2qpaVSMWoXEvLEnrh,Brahms: Piano Trios,2004-04-05,https://i.scdn.co/image/ab67616d0000b273eb9f7d...
1,ALBUM,61ulfFSmmxMhc2wCdmdMkN,Merry Christmas,1994-11-01,https://i.scdn.co/image/ab67616d0000b2734246e3...
2,ALBUM,2UWAcaDDrkpMAepxdfX1wP,Rachmaninov: Piano Trios Nos.1 & 2,1987-01-01,https://i.scdn.co/image/ab67616d0000b273b90d6e...
3,ALBUM,3FhRqpxS0Rlx0f4RtZMaBh,Ravel: Trio Sonate pour violon et violoncelle ...,2009-01-22,https://i.scdn.co/image/ab67616d0000b27309302d...
4,SINGLE,5mHUgXZKe4szVeCMBz9MNu,Beach2k20 (Yaeji Remix),2019-09-04,https://i.scdn.co/image/ab67616d0000b2734e074b...

genres_to_add

Empty DataFrame
Columns: [genres]
Index: []

top_track_album_genres

Empty DataFrame
Columns: [genres, album_id]
Index: []

In [4]:
all_data = clean_all_data(new_user, [1,2,3,4,5])

for df_name, df in all_data.items():
    print(df_name)
    display(df.head())

C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

user_info

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['listener_id'] = listener_info['id'][0]
C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_top_artists['time_span'] = time_range

,listener_id,display_name,username,access_token,expires_in,refresh_token,scope,num_followers,listener_image_url
0,314xcqarki42gnkosjtfplluumya,Caroline Wang,CarolineWang,1,4,5,3,2,https://platform-lookaside.fbsbx.com/platform/...

top_track_created_by

                 track_id               artist_id
0  3RauEVgRgj1IuWdJ9fDs70  06HL4z0CvFAxyc27GXpf02
1  1p80LdxRV74UKvL8gnD7ky  06HL4z0CvFAxyc27GXpf02
2  2slqvGLwzZZYsT4K4Y1GBC  06HL4z0CvFAxyc27GXpf02
3  3i9UVldZOE0aD0JnyfAZZ0  06HL4z0CvFAxyc27GXpf02
4  3i9UVldZOE0aD0JnyfAZZ0  7n2wHs1TKAczGzO7Dd2rGr

top_track_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27964509,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
1,7n2wHs1TKAczGzO7Dd2rGr,Shawn Mendes,89,25300817,https://i.scdn.co/image/6bd59cfbd3e1e6394af710...
2,6UleRY4Q1BRd2gRmPjFCQF,Deborah's Child,36,853,https://i.scdn.co/image/5124284457161f8cfc2bc7...
3,5nQybVOGIy5TZ1XK9CaDiS,Sarah Close,48,62428,https://i.scdn.co/image/e33b5760d8df64f5016e9c...
4,6ObN9YNBliscJOImQp4UZO,Bow Anderson,40,539,https://i.scdn.co/image/a92456128f696b71e21941...

top_track_genres_to_add

      genre_name
0      dance pop
1            pop
2  post-teen pop
3   canadian pop
6      viral pop

top_track_artists_genres

                artist_id     genre_name
0  06HL4z0CvFAxyc27GXpf02      dance pop
1  06HL4z0CvFAxyc27GXpf02            pop
2  06HL4z0CvFAxyc27GXpf02  post-teen pop
3  7n2wHs1TKAczGzO7Dd2rGr   canadian pop
4  7n2wHs1TKAczGzO7Dd2rGr            pop

user_top_tracks

                    listener_id                track_id   time_span
0  314xcqarki42gnkosjtfplluumya  3RauEVgRgj1IuWdJ9fDs70  short_term
1  314xcqarki42gnkosjtfplluumya  1p80LdxRV74UKvL8gnD7ky  short_term
2  314xcqarki42gnkosjtfplluumya  2slqvGLwzZZYsT4K4Y1GBC  short_term
3  314xcqarki42gnkosjtfplluumya  3i9UVldZOE0aD0JnyfAZZ0  short_term
4  314xcqarki42gnkosjtfplluumya  5sOch9Cf4uxcMtwFzMtNqQ  short_term

top_tracks_to_add

,track_id,track_name,track_pop,preview_url,acousticness,danceability,energy,valence,loudness,tempo,instrumentalness,speechiness,mode,time_signature,liveness
0,3RauEVgRgj1IuWdJ9fDs70,The Man,82,https://p.scdn.co/mp3-preview/92f90142a380e5e2...,0.07670,0.777,0.658,0.6330,-5.191,110.048,0.000000,0.0540,1,4,0.0901
1,1p80LdxRV74UKvL8gnD7ky,Blank Space,67,https://p.scdn.co/mp3-preview/a4dccadce8dfd9d7...,0.08500,0.752,0.678,0.5830,-5.421,96.009,0.000002,0.0646,1,4,0.1300
2,2slqvGLwzZZYsT4K4Y1GBC,Only The Young - Featured in Miss Americana,79,https://p.scdn.co/mp3-preview/ac5095162a4a50a0...,0.00244,0.560,0.780,0.6020,-4.895,93.516,0.000000,0.0517,0,4,0.0714
3,3i9UVldZOE0aD0JnyfAZZ0,Lover (Remix) [feat. Shawn Mendes],81,https://p.scdn.co/mp3-preview/cb9c21b053701ec8...,0.43300,0.448,0.603,0.4220,-7.176,205.272,0.000000,0.0640,1,3,0.0862
4,5sOch9Cf4uxcMtwFzMtNqQ,Delicate,70,https://p.scdn.co/mp3-preview/fefd093ceea8b01b...,0.21600,0.750,0.404,0.0499,-10.178,95.045,0.000357,0.0682,0,4,0.0911

album_contains_track

                 album_id                track_id
0  1NAmidJlEaVgA3MpcPFYGq  3RauEVgRgj1IuWdJ9fDs70
1  2QJmrSgbdM35R67eoGQo4j  1p80LdxRV74UKvL8gnD7ky
2  5LGsh3kexUfi3qkIIxb8vK  2slqvGLwzZZYsT4K4Y1GBC
3  2UfvnX1YYeC2cExMQTMbXC  3i9UVldZOE0aD0JnyfAZZ0
4  1Hrs3jLGexOvBoaPMoOQYJ  5sOch9Cf4uxcMtwFzMtNqQ

top_tracks_albums_to_add

,album_id,album_type,album_name,album_release_date,album_image_url
0,1NAmidJlEaVgA3MpcPFYGq,ALBUM,Lover,2019-08-23,https://i.scdn.co/image/ab67616d0000b273e787cf...
1,2QJmrSgbdM35R67eoGQo4j,ALBUM,1989,2014-10-27,https://i.scdn.co/image/ab67616d0000b273c79b60...
2,5LGsh3kexUfi3qkIIxb8vK,SINGLE,Only The Young (Featured in Miss Americana),2020-01-31,https://i.scdn.co/image/ab67616d0000b2734aa13f...
3,2UfvnX1YYeC2cExMQTMbXC,SINGLE,Lover (Remix) [feat. Shawn Mendes],2019-11-13,https://i.scdn.co/image/ab67616d0000b27359457b...
4,1Hrs3jLGexOvBoaPMoOQYJ,ALBUM,reputation (Big Machine Radio Release Special),2017-11-08,https://i.scdn.co/image/ab67616d0000b273727a2e...

top_tracks_album_genres_to_add

Empty DataFrame
Columns: [genre_name]
Index: []

top_tracks_album_genres

Empty DataFrame
Columns: [album_id, genre_name]
Index: []

user_top_artists

                    listener_id               artist_id   time_span
0  314xcqarki42gnkosjtfplluumya  06HL4z0CvFAxyc27GXpf02  short_term

top_artists_to_add

,artist_id,artist_name,artist_pop,num_followers,artist_image_url
0,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,27964509,https://i.scdn.co/image/62b33d12e2b9a033cf7758...

top_artists_genres_to_add

      genre_name
0      dance pop
1            pop
2  post-teen pop

top_artists_genres

                artist_id     genre_name
0  06HL4z0CvFAxyc27GXpf02      dance pop
1  06HL4z0CvFAxyc27GXpf02            pop
2  06HL4z0CvFAxyc27GXpf02  post-teen pop

In [13]:
df = all_data['top_track_artists_genres']
df = df.replace({"": None}, axis=0)

                 artist_id     genre_name
0   06HL4z0CvFAxyc27GXpf02      dance pop
1   06HL4z0CvFAxyc27GXpf02            pop
2   06HL4z0CvFAxyc27GXpf02  post-teen pop
3   7n2wHs1TKAczGzO7Dd2rGr   canadian pop
4   7n2wHs1TKAczGzO7Dd2rGr            pop
..                     ...            ...
74  0QcblRyHbgYTLOKlP5BE66     vapor soul
2   6UleRY4Q1BRd2gRmPjFCQF
4   6ObN9YNBliscJOImQp4UZO
5   7scapvSjZLSm0fBgqGM0Mn
18  6xgvgzXNv3ymcITXTrxRaA

[79 rows x 2 columns]