In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from data_processing.data_cleaning import *
from data_processing.spotify_user import SpotifyUser
from utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  C:\Users\bnati\Desktop\Eclipse Workspaces\CS-316-GROUP\src

## Example of pulling Spotify API data using Spotipy

In [2]:
# spotify = spotipy.Spotify()
new_username = 'CarolineWang'
new_user = SpotifyUser(spotify_creds['spotify_client_id'], 
                       spotify_creds['spotify_client_secret'], 
                       'http://localhost:8889', 
                       new_username)

## Example of cleaning spotify data 
The functions below should ALL be run in order to fill/update the schema correctly.

## New Listener

In [3]:
clean_listener_info(new_user)

,display_name,num_followers,listener_id,listener_image_url
0,Caroline Wang,2,314xcqarki42gnkosjtfplluumya,https://platform-lookaside.fbsbx.com/platform/...

## CREATED BY,  Artists to Add (from Top Tracks)

In [4]:
top_track_created_by, top_track_artists_to_add, genres_to_add, top_track_artists_genres = clean_top_tracks_artist_info(new_user)

display(top_track_created_by.head())
display(top_track_artists_to_add.head())
display(genres_to_add.head())
display(top_track_artists_genres.head())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

                artist_id                track_id
0  06HL4z0CvFAxyc27GXpf02  3RauEVgRgj1IuWdJ9fDs70
1  06HL4z0CvFAxyc27GXpf02  1p80LdxRV74UKvL8gnD7ky
2  06HL4z0CvFAxyc27GXpf02  2slqvGLwzZZYsT4K4Y1GBC
3  06HL4z0CvFAxyc27GXpf02  3i9UVldZOE0aD0JnyfAZZ0
4  7n2wHs1TKAczGzO7Dd2rGr  3i9UVldZOE0aD0JnyfAZZ0

,num_followers,artist_id,artist_name,artist_pop,artist_image_url
0,27811343,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
1,25159977,7n2wHs1TKAczGzO7Dd2rGr,Shawn Mendes,89,https://i.scdn.co/image/6bd59cfbd3e1e6394af710...
2,827,6UleRY4Q1BRd2gRmPjFCQF,Deborah's Child,35,https://i.scdn.co/image/5124284457161f8cfc2bc7...
3,62252,5nQybVOGIy5TZ1XK9CaDiS,Sarah Close,48,https://i.scdn.co/image/e33b5760d8df64f5016e9c...
4,446,6ObN9YNBliscJOImQp4UZO,Bow Anderson,39,https://i.scdn.co/image/a92456128f696b71e21941...

          genres
0      dance pop
1            pop
2  post-teen pop
3   canadian pop
6      viral pop

          genres               artist_id
0      dance pop  06HL4z0CvFAxyc27GXpf02
1            pop  06HL4z0CvFAxyc27GXpf02
2  post-teen pop  06HL4z0CvFAxyc27GXpf02
3   canadian pop  7n2wHs1TKAczGzO7Dd2rGr
4            pop  7n2wHs1TKAczGzO7Dd2rGr

# Top artists to add, genres to add (from artists)

In [5]:
top_artists, top_artists_to_add, genres_to_add, top_artists_genres = clean_top_artists_info(new_user, time_range='medium_term')

display(top_artists.head())
display(top_artists_to_add.head())
display(genres_to_add)
display(top_artists_genres.head())

C:\Users\bnati\Desktop\Eclipse Workspaces\CS-316-GROUP\src\data_processing\data_cleaning.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_top_artists['listener_id'] = listener_info['id'][0]
C:\Users\bnati\Desktop\Eclipse Workspaces\CS-316-GROUP\src\data_processing\data_cleaning.py:124: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_top_artists['time_span'] = time_range

                artist_id                   listener_id    time_span
0  56oDRnqbIiwx4mymNEv7dS  314xcqarki42gnkosjtfplluumya  medium_term
1  7ltDVBr6mKbRvohxheJ9h1  314xcqarki42gnkosjtfplluumya  medium_term
2  06HL4z0CvFAxyc27GXpf02  314xcqarki42gnkosjtfplluumya  medium_term
3  2RqrWplViWHSGLzlhmDcbt  314xcqarki42gnkosjtfplluumya  medium_term
4  1hRLlo7ZGxEmc0ztMOKurs  314xcqarki42gnkosjtfplluumya  medium_term

,num_followers,artist_id,artist_name,artist_pop,artist_image_url
0,2378012,56oDRnqbIiwx4mymNEv7dS,Lizzo,82,https://i.scdn.co/image/e33e4245fe5901ed940ba9...
1,3032688,7ltDVBr6mKbRvohxheJ9h1,ROSALÍA,81,https://i.scdn.co/image/212e68416e861c2b2a7bf0...
2,27811343,06HL4z0CvFAxyc27GXpf02,Taylor Swift,91,https://i.scdn.co/image/62b33d12e2b9a033cf7758...
3,204969,2RqrWplViWHSGLzlhmDcbt,Yaeji,59,https://i.scdn.co/image/3ae43b32e247aa666b2997...
4,32379,1hRLlo7ZGxEmc0ztMOKurs,Maria João Pires,52,https://i.scdn.co/image/2552c692af80afff8cb673...

                   genres
0             escape room
1       minnesota hip hop
2                     pop
3                 pop rap
4              trap queen
5          r&b en espanol
6               dance pop
8           post-teen pop
9                 art pop
10             electropop
12     experimental house
13              classical
14  classical performance
15        classical piano
16           canadian pop
19        adult standards
20         easy listening
21                 lounge
23        classical cello
26            modern rock
27                   rock
30           anime latino
31                otacore
32              scorecore
39                 uk pop
41                    edm
42           metropopolis
45         tropical house
7

                artist_id             genres
0  56oDRnqbIiwx4mymNEv7dS        escape room
1  56oDRnqbIiwx4mymNEv7dS  minnesota hip hop
2  56oDRnqbIiwx4mymNEv7dS                pop
3  56oDRnqbIiwx4mymNEv7dS            pop rap
4  56oDRnqbIiwx4mymNEv7dS         trap queen

## Top Tracks table, AlbumContainsTrack table

In [6]:
top_tracks, top_tracks_to_add, album_contains_track, top_tracks_albums_to_add, genres_to_add, top_track_album_genres = clean_top_tracks_album_info(new_user)

In [7]:
display(top_tracks.head())
display(top_tracks_to_add.head())
display(album_contains_track.head())
display(top_tracks_albums_to_add.head())
display(genres_to_add.head())
display(top_track_album_genres.head())

                 track_id   time_span                   listener_id
0  3RauEVgRgj1IuWdJ9fDs70  short_term  314xcqarki42gnkosjtfplluumya
1  1p80LdxRV74UKvL8gnD7ky  short_term  314xcqarki42gnkosjtfplluumya
2  2slqvGLwzZZYsT4K4Y1GBC  short_term  314xcqarki42gnkosjtfplluumya
3  3i9UVldZOE0aD0JnyfAZZ0  short_term  314xcqarki42gnkosjtfplluumya
4  5sOch9Cf4uxcMtwFzMtNqQ  short_term  314xcqarki42gnkosjtfplluumya

,track_id,track_name,track_pop,preview_url,acousticness,danceability,energy,instrumentalness,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,3RauEVgRgj1IuWdJ9fDs70,The Man,82,https://p.scdn.co/mp3-preview/92f90142a380e5e2...,0.07670,0.777,0.658,0.000000,0.0901,-5.191,1,0.0540,110.048,4,0.6330
1,1p80LdxRV74UKvL8gnD7ky,Blank Space,67,https://p.scdn.co/mp3-preview/a4dccadce8dfd9d7...,0.08500,0.752,0.678,0.000002,0.1300,-5.421,1,0.0646,96.009,4,0.5830
2,2slqvGLwzZZYsT4K4Y1GBC,Only The Young - Featured in Miss Americana,79,https://p.scdn.co/mp3-preview/ac5095162a4a50a0...,0.00244,0.560,0.780,0.000000,0.0714,-4.895,0,0.0517,93.516,4,0.6020
3,3i9UVldZOE0aD0JnyfAZZ0,Lover (Remix) [feat. Shawn Mendes],81,https://p.scdn.co/mp3-preview/cb9c21b053701ec8...,0.43300,0.448,0.603,0.000000,0.0862,-7.176,1,0.0640,205.272,3,0.4220
4,5sOch9Cf4uxcMtwFzMtNqQ,Delicate,70,https://p.scdn.co/mp3-preview/fefd093ceea8b01b...,0.21600,0.750,0.404,0.000357,0.0911,-10.178,0,0.0682,95.045,4,0.0499

                 album_id                track_id
0  1NAmidJlEaVgA3MpcPFYGq  3RauEVgRgj1IuWdJ9fDs70
1  2QJmrSgbdM35R67eoGQo4j  1p80LdxRV74UKvL8gnD7ky
2  5LGsh3kexUfi3qkIIxb8vK  2slqvGLwzZZYsT4K4Y1GBC
3  2UfvnX1YYeC2cExMQTMbXC  3i9UVldZOE0aD0JnyfAZZ0
4  1Hrs3jLGexOvBoaPMoOQYJ  5sOch9Cf4uxcMtwFzMtNqQ

,album_type,album_id,album_name,album_release_date,album_image_url
0,ALBUM,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,https://i.scdn.co/image/ab67616d0000b273e787cf...
1,ALBUM,2QJmrSgbdM35R67eoGQo4j,1989,2014-10-27,https://i.scdn.co/image/ab67616d0000b273c79b60...
2,SINGLE,5LGsh3kexUfi3qkIIxb8vK,Only The Young (Featured in Miss Americana),2020-01-31,https://i.scdn.co/image/ab67616d0000b2734aa13f...
3,SINGLE,2UfvnX1YYeC2cExMQTMbXC,Lover (Remix) [feat. Shawn Mendes],2019-11-13,https://i.scdn.co/image/ab67616d0000b27359457b...
4,ALBUM,1Hrs3jLGexOvBoaPMoOQYJ,reputation (Big Machine Radio Release Special),2017-11-08,https://i.scdn.co/image/ab67616d0000b273727a2e...

Empty DataFrame
Columns: [genres]
Index: []

Empty DataFrame
Columns: [genres, album_id]
Index: []