In [1]:
import os 
os.chdir('../src/')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
from IPython.display import display

from d01_data_processing.data_cleaning import *
from d01_data_processing.spotify_user import SpotifyUser
from d00_utils.load_confs import load_credentials

spotify_creds = load_credentials()['spotify_dev_creds']

Current working directory is now:  C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src

## Example of pulling Spotify API data using Spotipy

In [2]:
# spotify = spotipy.Spotify()
new_username = 'sophiewang'
new_user = SpotifyUser(username=new_username,
                       from_scratch=True,
                       spotipy_client_id=spotify_creds['spotify_client_id'], 
                       spotipy_client_secret=spotify_creds['spotify_client_secret'], 
                       spotipy_redirect_uri='http://localhost:8889')

## Example of cleaning spotify data 
The functions below should ALL be run in order to fill/update the schema correctly.

## New Listener

In [3]:
display(new_user.info())
print(len(new_user.info()['images']))

res=clean_listener_info(new_user)

display(res['user_info'])

{'display_name': 'ninjakichi',
 'external_urls': {'spotify': 'https://open.spotify.com/user/ninjakichi'},
 'followers': {'href': None, 'total': 0},
 'href': 'https://api.spotify.com/v1/users/ninjakichi',
 'id': 'ninjakichi',
 'images': [],
 'type': 'user',
 'uri': 'spotify:user:ninjakichi'}

0

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  listener_info = json_normalize(new_user.info())

  display_name listener_id  num_followers listener_image_url    username
0   ninjakichi  ninjakichi              0               NULL  sophiewang

## CREATED BY,  Artists to Add (from Top Tracks)

In [4]:
res = clean_top_tracks_artist_info(new_user, time_range='short_term')

for df_name, df in res.items():
    print(df_name)
    display(df.head())

top_track_created_by

Empty DataFrame
Columns: []
Index: []

top_track_artists_to_add

Empty DataFrame
Columns: []
Index: []

top_track_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_track_artists_genres

Empty DataFrame
Columns: []
Index: []

# Top artists to add, genres to add (from artists)

In [5]:
res = clean_top_artists_info(new_user, time_range='short_term')

for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_artists

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:143: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  offset=offset)['items'])

Empty DataFrame
Columns: []
Index: []

top_artists_to_add

Empty DataFrame
Columns: []
Index: []

top_artists_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_artists_genres

Empty DataFrame
Columns: []
Index: []

## Top Tracks table, AlbumContainsTrack table

In [6]:
res = clean_top_tracks_album_info(new_user, time_range='short_term')
for df_name, df in res.items():
    print(df_name)
    display(df.head())

user_top_tracks

Empty DataFrame
Columns: []
Index: []

top_tracks_to_add

Empty DataFrame
Columns: []
Index: []

album_contains_track

Empty DataFrame
Columns: []
Index: []

top_tracks_albums_to_add

Empty DataFrame
Columns: []
Index: []

top_tracks_album_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_tracks_album_genres

Empty DataFrame
Columns: []
Index: []

In [5]:
all_data = clean_all_data(new_user, [1,2,3,4,5])

for df_name, df in all_data.items():
    print(df_name)
    display(df.head())

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  listener_info = json_normalize(new_user.info())

user_info

C:\Users\Caroline Wang\OneDrive\Duke\Senior Year\CS316\Project\src\d01_data_processing\data_cleaning.py:143: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  offset=offset)['items'])

,listener_id,display_name,username,access_token,expires_in,refresh_token,scope,num_followers,listener_image_url
0,ninjakichi,ninjakichi,sophiewang,1,4,5,3,0,NULL

top_track_created_by

Empty DataFrame
Columns: []
Index: []

top_track_artists_to_add

Empty DataFrame
Columns: []
Index: []

top_track_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_track_artists_genres

Empty DataFrame
Columns: []
Index: []

user_top_tracks

Empty DataFrame
Columns: []
Index: []

top_tracks_to_add

Empty DataFrame
Columns: []
Index: []

album_contains_track

Empty DataFrame
Columns: []
Index: []

top_tracks_albums_to_add

Empty DataFrame
Columns: []
Index: []

top_tracks_album_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_tracks_album_genres

Empty DataFrame
Columns: []
Index: []

user_top_artists

Empty DataFrame
Columns: []
Index: []

top_artists_to_add

Empty DataFrame
Columns: []
Index: []

top_artists_genres_to_add

Empty DataFrame
Columns: []
Index: []

top_artists_genres

Empty DataFrame
Columns: []
Index: []